@import "tailwindcss";

@theme {
  --color-brand: #008080;
  --color-brand-dark: #016969;
  --font-sans: "Outfit", "Geist", "Montserrat", sans-serif;
  --font-body: "Geist", "Inter", sans-serif;
}

* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}






